<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amy.amynavsdkdemo">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- authorities 与Application注册 需要保持一致 -->
        <provider
            android:name="com.amy.robot.actioncenter.lib.ActionCenterContentProvider"
            android:authorities="com.amy.amynavsdkdemo.provider"
            android:exported="true"/>
        <activity android:name=".activity.RobotControlActivity"/>
        <activity android:name=".activity.RobotActionActivity"/>
        <activity android:name=".activity.RoboNavActivity"/>

    </application>

</manifest>